.imageCollection {
    width: 80%;
    height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.imageCollectionContainerOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}



.imageCollectionH1 {
    max-width: 400px;
    height: 100px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imageCollectionImage, .imageCollectionH1:hover {
    cursor: pointer;
}