.navBar {
    height: 150px;
    width: 800px;
}

.navBarItemCollection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    height: 100px;
    width: 100%;
}

.navBarButton {
    height: 40px;
    width: 120px;
    margin-top: 25px;
    text-align: center;
}

.navBarButton:hover {
    text-decoration: underline;
    cursor: pointer;
}