.app {
  width: 100%;
  min-width: 1200px;
  height: 1500px;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}

.appContainerOne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.appImageOne {
  margin-top: 50px;
}

.appContainerTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.appImageTwo {
  margin-top: 50px;
}
